*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height:100%;
    background-color: rgb(246, 255, 255);
    font-family: inter;
    display: flex;
align-items: center;
justify-content: center;
height:100vh;
}

.timeline-container{
    max-width: 600px;
    width:100%;
    border-left: 3px solid #3b8286;
    padding: 30px 0 30px 40px;
}

.timeline-item time{
    font-weight: 600;
    font-size: 14px;
    color:#2563eb;
    margin-bottom: 6px;
  display: block;
}

.timeline-item p{
    font-size:16px;
    line-height: 1.5;
    color:#555
}

.timeline-item{
    position: relative;
    margin-bottom: 40px;

}

.timeline-item-last-child{
    margin-bottom: 0;
}

.timeline-item::before{
    content:"";
    position: absolute;
    left:-38px;
    top:-8px;
    width:23px;
    height:23px;
    border-radius: 50%;
    background-color: #3b8286;
    border:4px solid white;
    box-shadow: 0 0 10px rgb(59,130,246,0.5);
}